[Desktop Entry]
Type=Application
Name=RustyPaint
GenericName=Image Editor
Comment=Paint 3D's 2D editor, minus the 3D
Exec=rustypaint %f
Icon=rustypaint
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/png;image/jpeg;image/bmp;image/gif;image/tiff;image/webp;image/x-dds;image/vnd.ms-dds;image/x-exr;image/x-farbfeld;image/vnd.radiance;image/x-hdr;image/vnd.microsoft.icon;image/x-portable-arbitrarymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-anymap;image/x-portable-pixmap;image/qoi;image/x-tga;image/x-icns;image/openraster;image/vnd.nokia.ota-bitmap;image/vnd.zbrush.pcx;image/x-sgi;image/x-rgb;image/vnd.wap.wbmp;image/x-xbitmap;image/x-xpixmap;
StartupWMClass=net.electris.RustyPaint
